<header>
  <div class="up">
    <div class="pagename">
      <a targrt="_blank" href="{{ site.baseurl }}/">
        <section>
          <div class="text"> &nbsp;ACHEUL&nbsp; </div>
        </section>
      </a>
    </div>
    <div class="pagename">
      <a targrt="_blank" href="{{site.baseurl}}/posts/">
        <section>
          <div class="text"> &nbsp;POSTS&nbsp; </div>
        </section>
      </a>
    </div>
    <div class="pagename">
      <a targrt="_blank" href="{{site.baseurl}}/archive/">
        <section>
          <div class="text"> &nbsp;INSIDE&nbsp; </div>
        </section>
      </a>
    </div>
    <div class="pagename-git">
      <a target="_blank" href="{{ site.social.github }}">
        &nbsp;<i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</header>